#app
{
  width: 100vw;
  height: 100vh;
}
nav
{
  display: flex;
  background-color: #bdc9d1;
  width: 100%;
  height: 60px;
  justify-content: space-evenly;
}
#nav_but
{
  justify-content: space-evenly;
  display: flex;  
  width: 70%;
}
#nav_logo
{
  height: 60px;
  width: auto;
}
button
{
  border: none;
  background-color: #bdc9d1;
}
