/* ser */
#ser
{
    max-width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.card
{
    max-width: 100vw;
    max-height: auto;
    display: grid;
    background-color: #77726e85;
    border-radius: 5%;

    margin: 30px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
    
}
#card1
{
    width: 300px;
    border-radius: 5%;

}

/* login */
#login
{
    width: 100vw;
    height:auto;
}
#loginback
{
    width: 100vw;
    height: auto;
}
#loginh1
{
    position: absolute;
    top: 0%;
    right: 0%;
    color: #bdc9d1;
}
form
{
    width: 400px;
    height: auto;
    position: absolute;
    top: 35%;
    right: 35%;
    color: #bdc9d1;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 10%;
}
#sub
{
margin: 30px 0px 30px 0px;
width: 170px;
height: 30px;
}

/* ser_up */

#ser_upsearch
{
     position: absolute;
    top: 20%;
    right: 37%;
    color: #bdc9d1;
    padding: 10px 10px 20px 10px ;

}
#ser_up_in
{
   margin: 0px 0px 20px 0px ; 
}
.noerror
{
    display: none;
}
.error
{
    color :red;

}
#ser_up_btn
{
    width: 100px;
    height:auto 
}
#ser_up_img
{
    width: 100vw;
    height:auto;
}
#ser_up
{
    width: 100vw;
    height:auto;
}
table
{
    width: 80vw;
    height: auto;
}
td
{
    text-align: center;
}
#serh1
{
    position: absolute;
    top: 0%;
    right: 0%;
    color: #bdc9d1;
}
#ser_up_div
{
    position: absolute;
    top: 50%;
    right:25%;
    width: 700px;
    color: #bdc9d1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}