#app
{
  width: 100vw;
  height: 100vh;
}
nav
{
  display: flex;
  background-color: #bdc9d1;
  width: 100%;
  height: 60px;
  justify-content: space-evenly;
}
#nav_but
{
  justify-content: space-evenly;
  display: flex;  
  width: 70%;
}
video
{
  width: 100vw;
  height: auto;
}
main
{
  width: fit-content;
  height: auto;
}

#nav_logo
{
  height: 60px;
  width: auto;
}
#nav_but{
  border:none;
  background-color: #bdc9d1;

}
#poster
{
  position: absolute;
  top: 50%;
  right: 18%;
}
button
{
  border: none;
  background-color: #bdc9d1;
}
h1
{
  width: 100vw;
  height: fit-content;
  text-align: center;
}