#ser
{
align-items: center;
display: flex;
flex-direction: column;
}
table  
{
    width: 80vw;
    height: auto;
    border: 3px solid black;
}
#border
{
  border: 3px solid black;  
}

/* addser */
#login
{
    width: 100vw;
    height:auto;
}
#loginback
{
    width: 100vw;
    height: auto;
}
#loginh1
{
    position: absolute;
    top: 0%;
    right: 43%;
    color: #0e1418;
}
form
{
    width: 400px;
    height: auto;
    position: absolute;
    top: 35%;
    right: 35%;
    color: #0e1418;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 10%;
}
#sub
{
margin: 30px 0px 30px 0px;
width: 170px;
height: 30px;
}